*                       @conversor-ava/supervisores

/backend/app/schemas/   @conversor-ava/supervisores
/backend/app/services/  @conversor-ava/supervisores
/.github/               @conversor-ava/supervisores